- var title = 'Logout';
include pug/head.pug
.container.bg-silver.radius.shadow.partial.margin-top.text-center
  h1.effect1 Thank You!
  a.button.bg-black.full.square(href='/') Home
  include pug/footer.pug