// info
.col.float-left.bg-silver
  .container.shadow.radius.bg-white.text-center.margin-bottom
    hr
    img(src='https://picjumbo.com/wp-content/uploads/webdesigners-sticky-notes-free-photo-2210x1528.jpg', alt='Notes', style='width:100%;')
    hr
    p See more at:
    a.button.block.bg-navy.full.square(href='https://github.com/Waymans', target="_blank")
      i.fab.fa-github
      |  GitHub
    a.button.block.bg-maroon.full.square(href='https://codepen.io/waymans', target="_blank")
      i.fab.fa-codepen
      |  Codepen
    a.button.block.bg-olive.full.square(href='https://freecodecamp.org/waymans', target="_blank")
      i.fab.fa-free-code-camp
      |  freeCodeCamp
    a.button.block.bg-pink.full.margin-bottom.relative.square(href='https://glitch.com/@waymans', target="_blank")
      i.fas.fa-fish.flip.absolute
      i.fas.fa-fish.flip.absolute.flip2
      |  Glitch
  // Alert Box
  .bg-smoky.container.radius.shadow
    span#times.button.text-black.top-right
      i.fa.fa-times
    p
      strong Hey!
    hr.no-margin
    p Thanks for checking out this site. I hope you enjoy it!